node_modules
.pnpm-store
dist
prod
*.tsbuildinfo
drizzle

.git
.gitignore
.github

.env
.env.*

test
coverage
.vitest
vitest.config.ts
tsconfig.check.json

eslint.config.js
.prettierrc.json
.prettierignore
.editorconfig

README.md
*.md
compose.yml
.dockerignore
Dockerfile

*.log
logs
.cache
.eslintcache
.idea
.vscode
*.swp
.DS_Store
Thumbs.db
